body {
  background-color: #22223b;
  color: #959bb9;
}

.image {
	  width: 300px;
  height: 300px;
}

p {
  color: #b3a2b0;
  font-size: 20px;
}

.center {
  font-size: 200%;
  text-align: center;
  margin: 0%;
  position: relative;
}

.timeline {
  margin: auto;
  width: 100%;
  border: 3px;
  padding: 10px;
  background-color: #f2e9e4;
}

.quote {
  text-align: center;
  margin: 0%;
  position: relative;
}